 /*--======= Start Checkout Section Here ======= --*/

 #checkout_section {
     margin: 100px 0;

     .bill_search_box {
         @include paragraph_sm;
         padding: 17px 30px;
         background-color: $bg_color_dark;
         border: 1px solid $border_color;
         width: 100%;

         i {
             @include social_icon($width: 24px, $height: 24px, $color: $orange_light, );
             display: inline-flex;
             margin-right: 10px;
         }

         span {
             @include paragraph_sm($color: $orange_light, )
         }
     }

     .billing_box {
         margin: 40px 0;

         h4 {
             @include heading_3($padding: 0, $f_size: 30px, );
             text-align: left;
         }

         label {
             @include paragraph_sm($l_height: 26px, $color: $text_color, );
             margin: 20px 0 5px;
         }

         input,
         select,
         textarea {
             @include paragraph_sm;
             padding: 13px 15px;
             background-color: $white_color;
             border: 1px solid $border_color;
             resize: none;
         }

         .street_2 {
             margin-top: 20px;
         }

     }

     .order_box {
         h4 {
             @include heading_4($color: $text_color, $padding: 0 0 10px 0, )
         }

         .order_form {
             .checkout_table {
                 th {
                     text-align: center;
                     border: 1px solid $border_color;
                     border-bottom-color: $orange_light;

                     p {
                         @include paragraph_sm;
                         text-align: center;
                         padding: 17px;

                     }
                 }

                 td {
                     padding: 40px 0;
                     text-align: center;
                     border: 1px solid $border_color;

                     p {
                         @include paragraph_sm;
                         text-align: center;


                     }

                     a {
                         @include paragraph_sm;
                         font-weight: 600;
                         transition: 0.4s;

                         &:hover {
                             color: $orange_light;
                         }
                     }
                 }


                 .ordertable {


                     th,
                     td {
                         padding: 0 30px;
                         border: 1px solid $border_color;

                         p {
                             @include paragraph_sm;
                             padding: 12px 0;
                             font-weight: 600;
                         }
                     }

                     td {
                         text-align: right;
                     }
                 }

             }

             .checkout_sm {
                 th {
                     border-color: $border_color;
                 }

                 td {
                     padding: 20px 0;
                 }
             }
         }
     }

     .payment_method {
         padding: 15px 0;

         input {
             width: 16px;
             height: 16px;
             margin-right: 10px;
         }

         label {
             @include paragraph_sm;
         }

         .payment {
             margin: 15px 0;
             padding: 12px 20px;
             background-color: $bg_color_dark;
             border: 1px solid $border_color;
             @include show($opacity: 0, $visibility: hidden, $transform: scale(1), $display: none, )
         }

         .payment.fade {
             @include show($display: block, );
         }

         p {
             @include paragraph_sm($margin: 15px 0, );
         }

         button {
             @include btn_sm($padding: 11px 23px, $bg_color: $orange_light, $color: $white_color, )
         }
     }

 }

 /*--======= End Checkout Section Here ======= --*/