 $h1_color: #1d1d1d;
 $text_color: #11161E;
 $orange_light: #FF6F61;
 $orange_dark: #FF5645;
 $black_dark: #151A32;
 $white_color: #FFFFFF;
 $border_color: #E0E0E0;
 $bg_color_light: #F1F1F1;
 $bg_color_dark: #F1F3F4;
 $black_color: #000000;
 $green_color: #29CC00;
 $error_color: linear-gradient(107deg, #1C293F -0.36%, #161F33 98.58%);
 $p_color: #444444;
 $primary_font: 'Josefin Sans',
     sans-serif;
 $p_font: 'Poppins',
     sans-serif;
 $section_padding: 100px;
 $padding_tablet: 50px;
 $padding_phone: 30px;